@page
@model EduBook.Presentation.Pages.Admin.Customer.IndexModel

@{
	ViewData["Title"] = "Index";
	Layout = "/Pages/Shared/_LayoutAdmin.cshtml";
}

<h1>Customer Manager</h1>

<a asp-page="Create">
	<span class="material-icons">add</span>
</a>
<div class="recent_order">
	<table>
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.Account[0].UserName)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Account[0].Phone)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Account[0].Address)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Account[0].Dob)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Account[0].Email)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Account[0].Password)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Account[0].Role)
				</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.Account)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.UserName)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Phone)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Address)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Dob)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Email)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Password)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Role.RoleName)
					</td>
					@{
						if (item.Status)
						{
							<td>Active</td>
						}
						else
						{
							<td>Deactive</td>
						}
					}
					<td>
						<a asp-page="./Edit" asp-route-id="@item.AccountId">Edit</a>
						<a asp-page="./Details" asp-route-id="@item.AccountId">Details</a>
						<a asp-page="./Delete" asp-route-id="@item.AccountId">Delete</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>
