@page
@model EduBook.Presentation.Pages.Admin.DashboardModel
@{
    Layout = "/Pages/Shared/_LayoutAdmin.cshtml";
}

<h1>Dashboard</h1>
<div class="insights">
    <div class="sales">
        <span class="material-icons">apartment</span>
        <div class="middle">
            <div class="left">
                <h3>Total Department</h3>
                <h1>@Model.TotalDepartmentCount</h1>
            </div>
        </div>
    </div>
    <div class="expenses">
        <span class="material-icons">meeting_room</span>
        <div class="middle">
            <div class="left">
                <h3>Total Room</h3>
                <h1>@Model.TotalRoomCount</h1>
            </div>
        </div>
    </div>
    <div class="income">
        <span class="material-icons">assignment</span>
        <div class="middle">
            <div class="left">
                <h3>Total Booking</h3>
                <h1>@Model.TotalBookingCount</h1>
            </div>
        </div>
    </div>
</div>
<div class="recent_order">
    <h2>Recent Booking</h2>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Booking[0].BookingDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Booking[0].Total)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Booking[0].BookingDetails)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Booking)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.BookingDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Total)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>